.main{
	width:100%;
	background-color:#859CE6;
	display: flex;	
	justify-content:center;
	

}
h4,
h3{
	text-align: center;
}
ul,
p
{
	font-size: 20px;
}

.left{
	width: 50%;
	border:3px solid gray; 
    box-shadow: 3px 3px 3px gray;
    margin: 1%;
    padding: 1%;
    background-color: #FFFACD;
    text-align: center;
}
.right{
	width: 50%;
	border:3px solid gray;
	 box-shadow: 3px 3px 3px gray;
    margin: 1%;
    padding: 1%;
    background-color:#FFFACD ;

}
img{
	width: 200px;
    border-style:double;
    border-radius: 10px solid #000; 
}

h1,
h3,
{
	font-size:35px;
}

.sset table,tr,td{
	border: 3px solid #000;
	border-collapse: collapse;
}
table{
	margin-left: 75px;
	font-size: 20px;
}


/*@media only screen (min-width: 426px) and (max-width: 768px){
	.main{
		display: flex;
		flex-wrap: wrap; 
	}
	.left{
		width: 95%;
	}
} */
@media only screen and(max-width: 480px){
	.main{
		width:100%;
		display: flex;
		flex-direction: column ; 
        text-align: center;
        flex-wrap: wrap;	
 	}
 	.left
 	{
    width: 30%;
	border:3px solid gray; 
    box-shadow: 3px 3px 3px gray;
    margin: 1%;
    padding: 1%;
    background-color: #FFFACD;
 	}
 	right{
	width: 65%;
	border:3px solid gray;
	 box-shadow: 3px 3px 3px gray;
    margin: 1%;
    padding: 1%;
    background-color:#FFFACD ;

}
